<div class="container-fluid bg-dark footer">
    <div class="row">
        <div class="col-6 text-white">
            <p style="font-size: medium;">Ecommerce démo <small style="font-size: smaller;">All rights reserved</small></p>
            
        </div>
        <div class="col-4">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact us</a>
        </div>
        <div class="col-2">
            <a href=""><i class="bi bi-facebook "></i></a>
            <a href=""><i class="bi bi-whatsapp "></i></a>
            <a href=""><i class="bi bi-instagram "></i></a>
            <a href=""><i class="bi bi-youtube "></i></a>
        </div>
    </div>
</div>
